*,
*::after,
*::before{
    box-sizing: border-box;
}

#syntax p{
    background: hsl(0 0% 90%);
    width: 50%;
    padding: 2.5%;
    border: 5px solid;
    margin: 2.5%;
}

/* Das box-sizing sollte immer für alle Elemente
gleich sein und wird als erste Regel im 
Universalselektor vereinbart.
Hier nur zum Zeigen nochmals einzeln. */
#syntax p:first-of-type{
    box-sizing: content-box;
}

#syntax p:last-of-type{
    box-sizing: border-box;
}

/* ******************************** */
/* CSS Funktionen
rgb(), hsl(), var()
*/

h1{
    /* clamp(min, preferred, max) */
    font-size: clamp(2rem, 4vw, 4.5rem);
}

#structure{
    border: 1px solid hsl(0 100% 50%);
    /* Leerstellen nicht vergessen!
    Einheiten können gemischt werden,
    Berechnungen können durchgeführt werden. */
    width: calc(100% - (2 * 5em));
    margin: auto;
}