*,
*::after,
*::before{
	box-sizing: border-box;
}

:root{
	font-family: sans-serif;
}

label{
	display: inline-block;
	width: 8em;
	text-align: right;
	margin: .5% auto;
}

div{
	margin: 2%;
}

/*Gebunden an die Vorgaben im HTML-Dokument*/

input:invalid{
	border: 1px solid hsla(0,100%,50%,1);
}

input:valid([type=submit]){
	border: 1px solid hsla(134,100%,30%,1);
}

.invalid{
	color: hsl(0 100% 50%);
	font-weight: bolder;
}