/*
Variablen müssen in der Regel vereinbart werden
"globale" Variablen werden in :root oder html deklariert*/

:root {
    /* Variablen Deklaration
    Bezeichner niemals mit Werten, z.B: --rot
    */
    --main-color: hsl(60, 0%, 90%);
    --secondary-color: hsl(200, 100%, 50%);
    --accent-color: hsl(0, 100%, 50%);

    --basic-font-size:16px;
    --max-text-width: 60ch; /* sollte 40..80 character*/

    font-family: sans-serif;
    line-height:1.5;
    font-size: var(--basic-font-size);

}

article{
    /* Variablen Aufruf */
    background: var(--main-color);
}

code,a{
    color: var(--accent-color);
}


p{
    max-width: var(--max-text-width);
}

/* Bilder und andere externe Ressourcen sollten auf die Breite
des Elterncontainers begrenzt werden.*/
img,
picture,
video{
    max-width: 100%; /*niemals größer als der Article*/
}

/* skalierbare Schriften (font-size) mit vw ...
vh für mobile
viewport nur für statement schriften*/
h1{
    font-size: 8vw;
}

/* Hier käme der fonts-Aufbau aus 02fonts.css hin */

 /*box properties */
#syntax{
    width: 70%;
    padding: 2.5%;
    border: 1px solid;
    margin: 2.5%;
    /*
    margin ...
    2% : alle vier Seiten
    2% 5% : oben-unten links-rechts
    2% 5% 10% 8%: oben rechts unten links
    */
}

/* Ausrichten mit margin für Blockelemente */
#selector{
    width: 50%;
    /* zentrieren */
    /*margin: auto;*/
    /* drückt alles nach rechts */
    margin-left: auto;
}

/* Bild mit margin platzieren */
img{
    width:70%;
    display: block; /* sonst funktioniert margin nicht*/
    margin-left: auto;
}

/* inline Elemente */
strong{
    /* keine width */
    width:100%; /* kein Effekt */
    /* alle Seiten */
    padding: 5%;
    /* alle seiten */
    border: 1px solid;
    /* nur horizontal */
    margin: 15%;
}
