*,
*::after,
*::before{
    box-sizing: border-box;
}

:root{
    font-family: sans-serif;
}

/* flex container */
#main-articles{
    display: flex;
    flex-flow: row wrap;
    gap: .5em;
}

/* flex items */
article{
    border: 2px solid;
    background: hsl(240 50% 90%);
    flex: 1 1 30em;
}

#main-articles div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

/* Container bereitstellen */
#main-articles > article{
    container-type: inline-size;
}

@container (min-width: 42em){
    #main-articles div{
        background: hsl(240 50% 50%);
        flex-flow: row nowrap;
        justify-content: flex-end;
    }

    p{
        max-width: 60ch;
        color: (hsl(0 0% 100%));
    }
    
}